.contact-info .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.contact-info .column {
    width: 50%;
}

.contact-info .column.left {
    text-align: left;
}

.contact-info .column.right {
    text-align: right;
}

.summary {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;  /* Adjust margin as needed */
}

.summary .line {
    width: 4px;
    background-color: #d0d0d0;  /* soft color */
    margin-right: 1em;
}

.summary .content {
    flex-grow: 1;
}

.summary .content h3 {
    margin-bottom: 0.5em;
    text-decoration: underline;  /* Underline the heading */
}

.summary .content p {
    text-align: left;
    line-height: 1.5;
    margin: 0;  /* Remove margin */
    padding: 0;  /* Remove padding */
}

