---
layout: default
---

<div class="resume">

    <div class="contact-info">
        <div class="row">
            <div class="column left">
                <strong>Location:</strong> {{ site.data.resume.info.location }}
            </div>
            <div class="column right">
                <strong>Phone:</strong> {{ site.data.resume.info.phone }}
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <!-- Empty column -->
            </div>
            <div class="column right">
                <strong>E-Mail:</strong> {{ site.data.resume.info.email }}
            </div>
        </div>
    </div>

    <div class="summary">
        <h3>Summary</h3>
        <p>{{ site.data.resume.info.summary }}</p>
    </div>

    <div class="skills">
        <h3>Skills</h3>
        <ul>
            {% for skill in site.data.resume.info.skills %}
                <li><strong>{{ skill.category }}:</strong> {{ skill.list }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="experience">
        <h3>Relevant Experience</h3>
        {% for job in site.data.resume.info.experiences %}
            <div class="job">
                <div class="row">
                    <div class="column left">
                        <strong>{{ job.title }}, {{ job.company }}</strong>
                    </div>
                    <div class="column right">
                        <strong>{{ job.dates }}</strong>
                    </div>
                </div>
                <ul>
                    {% for responsibility in job.responsibilities %}
                        <li>{{ responsibility }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

</div>
